.review{
    width: 100%;

}

.review .container{
    padding-top: 20rem;
    margin-bottom: 18rem;
    display: flex;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    height: 1024px;
}

.review__wrap-title{
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
}
.review__wrap-paraphrase{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 34px;
    font-weight: 400;
}
.review__wrap-button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 20px 70px;
    border-radius: 5%;
    background-color:rgb(59, 59, 233);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.review__image{
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% + 10rem);
    right: -30rem;
}
